{% extends "template.html" %} 

{% block type %}Upload{% endblock %} 

{% block header %}{% endblock %} 

{% block content %}
<div id="page-container" class="bg-gradient-primary">
  <div id="content-wrap">
    <div id="loading" style="display: none">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <div id="content" class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
          <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="text-dark mb-4">Surveyinator</h1>
                </div>
                <form
                  name="form"
                  action="/results"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <h4>Excel/csv file:</h4>
                  <div
                    id="dropContainer"
                    class="uploadcontainer text-black shadow"
                    style="text-align: center"
                  >
                    <div id="uploadstuff">
                      <img src="static/upload.png" width="50px" />
                      <h3>Drag and Drop</h3>
                      <p>or</p>
                      <label class="btn btn-primary" style="cursor: pointer"
                        ><input
                          name="file"
                          style="display: none"
                          type="file"
                          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                          id="fileInput"
                        />click here to upload...</label
                      >
                    </div>
                    <div id="uploadedstuff" style="display: none">
                      <h3>File uploaded</h3>
                      <label
                        style="cursor: pointer"
                        class="btn btn-primary"
                        onclick="showUploaded();"
                        >Upload again
                      </label>
                    </div>
                  </div>
                  <br />
                  <h4>Config file:</h4>
                  <div
                    id="dropContainer2"
                    class="uploadcontainer text-black shadow"
                    style="text-align: center"
                  >
                    <div id="uploadstuff2">
                      <img src="static/upload.png" width="50px" />
                      <h3>Drag and Drop</h3>
                      <p>or</p>
                      <label class="btn btn-primary" style="cursor: pointer"
                        ><input
                          style="display: none"
                          type="file"
                          name="config"
                          accept="text/plain"
                          id="fileInput2"
                        />click here to upload...</label
                      >
                    </div>

                    <div id="uploadedstuff2" style="display: none">
                      <h3>File uploaded</h3>
                      <label
                        style="cursor: pointer"
                        class="btn btn-primary"
                        onclick="showUploaded2();"
                        >Upload again
                      </label>
                    </div>
                  </div>
                  <br />
                  <script src="static/js/draganddrop.js"></script>
                  <input
                    class="btn btn-primary"
                    type="submit"
                    value="Analyse"
                    onclick="loading.style.display = 'block';content.style.display = 'none'"
                    ;
                  />
                </form>
              </div>
              {% if error %}
              <div class="text-center">
                <div class="alert alert-danger">{{ error }}</div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}