<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Upload</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/Drag--Drop-Upload-Form.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/chart.min.js"></script>
    <script src="static/js/bs-charts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/js/theme.js"></script>
</head>

<body class="bg-gradient-primary">
    <div id="loading" style="display:none;">
      Loading
    </div>
    <div id="content" class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="text-dark mb-4">Surveyinator</h1>
                            </div>
                            <form name="form" action="/results" method="post" enctype="multipart/form-data">
                                <h4>Excel file: </h4><input class="d-lg-flex" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                <h4>Config file: </h4><input class="d-lg-flex" type="file" name="config" accept="text/plain">
                                <input type="submit" value='upload' onclick="$('#loading').show();$('#content').hide();">
                            </form></div>
                            {% if error != "": %}
                            <div class="text-center">
                              <h5 class="text-dark mb-4">{{ error }}</h5>
                            </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
